{# Copyright (c) 2023 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_settings.jinja2' %}

{% block title %}Edit your reading speed{% endblock %}

{% block main_heading %}Edit your reading speed{% endblock %}

{% block settings %}
  <p>Enter your estimated reading speed in words per minute (WPM). This will be used to calculate estimated reading times for posts. To disable reading time from displaying on Link topics, enter a value of 0.</p>

  <div class="divider"></div>

  <form
    method="post"
    name="wpm-change"
    autocomplete="off"
    data-ic-patch-to="{{ request.route_url('ic_user', username=request.user.username) }}"
    data-ic-trigger-name="user-wpm"
    data-js-confirm-leave-page-unsaved
  >
    <div class="form-group">
      <label class="form-label" for="wordsPerMinute">Words Per Minute (WPM)</label>
      <input type="number" class="form-input" id="wordsPerMinute" name="words_per_minute" value="{{ request.user.words_per_minute }}" min="0" max="9999" required>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Save WPM</button>
    </div>
  </form>
{% endblock %}
