{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base.jinja2' %}

{% from 'macros/buttons.jinja2' import post_action_toggle_button with context %}
{% from 'macros/comments.jinja2' import comment_label_options_template, render_comment_tree with context %}
{% from 'macros/datetime.jinja2' import adaptive_date_responsive, time_ago %}
{% from 'macros/forms.jinja2' import markdown_textarea %}
{% from 'macros/groups.jinja2' import group_segmented_link %}
{% from 'macros/links.jinja2' import link_to_user with context %}
{% from 'macros/topics.jinja2' import topic_voting with context %}
{% from 'macros/utils.jinja2' import pluralize %}

{% block title %}{{ topic.title }} - ~{{ topic.group.path }}{% endblock %}

{% block meta_og_tags %}
  <meta property="og:title" content="{{ self.title() }}">
  <meta property="og:description" content="{{ pluralize(topic.num_comments, "comment") }} in the discussion of this {{ "link" if topic.is_link_type else "post" }} on Tildes">
{% endblock %}

{% block templates %}
  {% if request.user %}
    {{ comment_label_options_template(comment_label_options) }}
  {% endif %}
{% endblock %}

{% block header_context_link %}
  {{ group_segmented_link(topic.group) }}
{% endblock %}

{% block content %}
<article id="topic-{{ topic.topic_id36 }}" class="topic-full">
<header>
  {{ topic_voting(topic) }}
  <h1>{{ topic.title }}</h1>
  <div class="topic-full-byline">
    {% if topic.was_posted_by_scheduler and topic.user_id == -1 %}
      Automatically posted {{ adaptive_date_responsive(topic.created_time) }}
    {% else %}
      Posted {{ adaptive_date_responsive(topic.created_time) }} by
      {% if request.has_permission('view_author', topic) %}
        {{ link_to_user(topic.user) }}
      {% else %}
        unknown user
      {% endif %}
    {% endif %}

    {% if topic.last_edited_time %}
      <span class="text-italic">
        (edited {{ adaptive_date_responsive(topic.last_edited_time) }})
      </span>
    {% endif %}
  </div>
  {% include "includes/topic_tags.jinja2" %}
</header>

{% if topic.is_deleted %}
  <div class="text-error">Topic deleted by author</div>
{% elif topic.is_removed %}
  <div class="text-error">Topic removed by site admin</div>
{% endif %}

{% if request.has_permission('view_content', topic) %}
  {% if topic.is_text_type %}
    <div class="topic-full-text"
      {% if request.user %}
        {% if request.user.open_new_tab_text %}
          data-js-external-links-new-tabs
        {% endif %}
        {% if request.user.open_new_tab_group %}
          data-js-group-links-new-tabs
        {% endif %}
        {% if request.user.open_new_tab_user %}
          data-js-user-links-new-tabs
        {% endif %}
      {% endif %}
    >{{ topic.rendered_html|safe }}</div>
  {% elif topic.is_link_type %}
    <div class="topic-full-link">
      <div class="topic-icon topic-icon-{{ topic.link_domain.replace('.', '_') }}"></div>
      <a
        href="{{ topic.link }}"
        {% if request.user.open_new_tab_external %}
          target="_blank"
          rel="noopener"
        {% endif %}
      >{{ topic.link }}</a>
    </div>

    {% if topic.additional_content_html %}
      <div class="topic-full-content">{{ topic.additional_content_html|safe }}</div>
    {% endif %}

    {% if content_metadata %}
      {{ topic_content_metadata(content_metadata, words_per_minute) }}
    {% endif %}
  {% endif %}
{% endif %}

  <menu class="btn-post">
    {% if request.has_permission('edit', topic) %}
      <li><button class="btn-post-action" name="edit"
        data-ic-get-from="{{ request.route_url(
          'ic_topic',
          topic_id36=topic.topic_id36,
        ) }}"
        data-ic-target=".topic-full .topic-full-text"
        data-ic-scroll-to-target="true"
      >Edit</button></li>
    {% endif %}

    {% if request.has_permission('tag', topic) %}
      <li><button class="btn-post-action" name="tag"
        data-ic-get-from="{{ request.route_url(
          'ic_topic_tags',
          topic_id36=topic.topic_id36,
        ) }}"
        data-ic-swap-style="replace"
        data-ic-target=".topic-full .btn-post:first + .post-action-settings"
      >Tag</button></li>
    {% endif %}

    {% if request.has_permission('delete', topic) %}
      <li><button class="btn-post-action" name="delete"
        data-ic-delete-from="{{ request.route_url(
          'ic_topic',
          topic_id36=topic.topic_id36,
        ) }}"
        data-ic-confirm="Delete this topic? This cannot be undone."
      >Delete</button></li>
    {% endif %}

    {% if request.has_permission('move', topic) %}
      <li><button class="btn-post-action" name="move"
        data-ic-get-from="{{ request.route_url(
          'ic_topic_group',
          topic_id36=topic.topic_id36,
        ) }}"
        data-ic-swap-style="replace"
        data-ic-target=".topic-full .btn-post:first + .post-action-settings"
      >Move</button>
    {% endif %}

    {% if request.has_permission('edit_title', topic) %}
      <li><button class="btn-post-action" name="edit-title"
        data-ic-get-from="{{ request.route_url(
          'ic_topic_title',
          topic_id36=topic.topic_id36,
        ) }}"
        data-ic-swap-style="replace"
        data-ic-target=".topic-full .btn-post:first + .post-action-settings"
      >Edit title</button>
    {% endif %}

    {% if request.has_permission('edit_link', topic) %}
      <li><button class="btn-post-action" name="edit-link"
        data-ic-get-from="{{ request.route_url(
          'ic_topic_link',
          topic_id36=topic.topic_id36,
        ) }}"
        data-ic-swap-style="replace"
        data-ic-target=".topic-full .btn-post:first + .post-action-settings"
      >Edit link</button>
    {% endif %}

    {% if request.has_permission('lock', topic) %}
      <li>{{ post_action_toggle_button("lock", topic, topic.is_locked) }}</li>
    {% endif %}

    {% if request.has_permission('bookmark', topic) %}
      <li>{{ post_action_toggle_button("bookmark", topic, is_toggled=topic.user_bookmarked) }}</li>
    {% endif %}

    {% if request.has_permission("ignore", topic) %}
      <li>{{ post_action_toggle_button("ignore", topic, is_toggled=topic.user_ignored) }}</li>
    {% endif %}

    {% if request.has_permission("remove", topic) %}
      <li>{{ post_action_toggle_button("remove", topic, topic.is_removed) }}</li>
    {% endif %}

    {# Only show "View Markdown" (and dropdown) when it's a text topic and the user is
       allowed to view the content, but can't edit it #}
    {% if topic.is_text_type
        and request.user
        and request.has_permission("view_content", topic)
        and not request.has_permission("edit", topic) %}
      <li>
        <div class="dropdown dropdown-right">
          <button class="btn-post-action dropdown-toggle">
            More...
            <i class="icon icon-caret"></i>
          </button>
          <menu class="menu">
            <li>
              <button class="btn-post-action" name="markdown-source"
                data-ic-get-from="{{ request.route_url(
                  'ic_topic',
                  topic_id36=topic.topic_id36,
                ) }}"
                data-ic-swap-style="replace"
                data-ic-target=".topic-full .btn-post:first + .post-action-settings"
              >View Markdown</button>
            </li>
          </menu>
        </div>
      </li>
    {% endif %}
  </menu>
  <div class="post-action-settings"></div>

{% if topic.is_locked %}
  <div class="toast toast-warning">This topic is locked. New comments can not be posted.</div>
{% endif %}

<section class="topic-comments">
  {% if comments %}
    <div class="divider"></div>
    <header class="topic-comments-header">
      <h2>{{ pluralize(topic.num_comments, "comment") }}</h2>

      <div class="btn-group">
        <button class="btn btn-sm btn-light" data-js-comment-collapse-all-button>Collapse replies</button>

        {# Display the "Collapse read" button if the user is not automatically
           collapsing old comments, and there are new comments #}
        {% if request.user
             and not request.user.collapse_old_comments
             and topic.comments_since_last_visit %}
          <button class="btn btn-sm btn-light" data-js-comment-collapse-read-button>Collapse read</button>
        {% endif %}

        <button class="btn btn-sm btn-light" data-js-comment-expand-all-button>Expand all</button>
      </div>

      <form class="form-listing-options" method="get">
        <div class="form-group">
          <label for="comment_order">Comments sorted by</label>
          <select id="comment_order" name="comment_order" class="form-select" data-js-autosubmit-on-change>
            {% for option in comment_order_options %}
              <option value="{{ option.name.lower() }}"

              {% if option == comment_order %}
                selected
              {% endif %}
              >{{ option.description }}</option>
            {% endfor %}
          </select>
          {# add a submit button for people with js disabled so this is still usable #}
          <noscript>
            <button type="submit" class="btn btn-primary btn-sm">OK</button>
          </noscript>
        </div>
      </form>
    </header>
  {% endif %}

  <ol class="comment-tree" id="comments">
    {{ render_comment_tree(comments, mark_newer_than=topic.last_visit_time) }}
  </ol>
</section>

{% if request.has_permission('comment', topic) %}
  <section data-js-remove-on-success>
    <div class="divider"></div>
    <h2>Post a comment</h2>
    <form
      method="post"
      data-ic-post-to="{{ request.route_url('ic_topic_comments', topic_id36=topic.topic_id36) }}"
      data-ic-swap-style="append"
      data-ic-target="#comments"
      autocomplete="off"
      data-js-prevent-double-submit
      data-js-confirm-leave-page-unsaved
    >
      {% if topic.age.days >= 7 %}
      <div class="warning-old-reply">
        <p class="text-warning text-small">This topic is {{ topic.age|vague_timedelta_description }} old. Replying to old topics is fine as long as you're contributing to the discussion.</p>
      </div>
      {% endif %}
      <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

      {{ markdown_textarea() }}

      <div class="form-buttons">
        <button class="btn btn-primary" type="submit">Post comment</button>
      </div>
    </form>
  </section>
{% elif request.user
    and topic.was_posted_by_scheduler
    and topic.schedule.only_new_top_level_comments_in_latest
    and topic != topic.schedule.latest_topic %}
  <div class="divider"></div>
  <p class="text-small">This is an older topic in a scheduled series, and is closed to new top-level comments.</p>

  <p class="text-small">To respond, <a href="{{ topic.schedule.latest_topic.permalink }}">go to the most recent topic in the series</a> instead.</p>
{% endif %}

</article>

{% endblock content %}

{% block sidebar %}
<h2>Topic info</h2>
<dl>
  <dt>Short link</dt>
  <dd>
    <input
      type="text"
      class="form-input input-sm"
      value="https://tild.es/{{ topic.topic_id36 }}"
      readonly
      data-js-autoselect-input
    >
  </dd>

  <dt>Comments</dt>
  {% if topic.num_comments > 0 %}
    <dd>
      {{ pluralize(topic.num_comments, "comment") }}
      ({{ pluralize(comments.num_top_level, "thread") }})
    </dd>

    {% if comments.most_recent_comment %}
      <dt>Last comment posted</dt>
      <dd>
        <a href="{{ comments.most_recent_comment.permalink }}" data-js-hide-sidebar-no-preventdefault>
          {{ adaptive_date_responsive(comments.most_recent_comment.created_time) }}
        </a>
      </dd>
    {% endif %}
  {% else %}
    <dd>No comments yet</dd>
  {% endif %}

  {% if log %}
    <details class="topic-log">
      <summary><dt>Topic log ({{ log|length }})</dt></summary>
      <dd>
        <ol class="topic-log-listing">
        {% for entry in log %}
          <li class="topic-log-entry">
            {% if entry.user == topic.user and not request.has_permission('view_author', topic) %}
              Unknown user
            {% else %}
              {{ link_to_user(entry.user) }}

              {% if entry.user == topic.user %}
                <span class="topic-user-info">
                  (<abbr title="Original Poster (of the topic)">OP</abbr>)
                </span>
              {% endif %}
            {% endif %}
            {{ entry }}
            <span class="topic-log-entry-time">({{ time_ago(entry.event_time, abbreviate=True) }})</span>
          </li>
        {% endfor %}
        </ol>
      </dd>
    </details>
  {% endif %}
</dl>
{% endblock %}

{% macro topic_content_metadata(content_metadata, words_per_minute) %}
  <section class="topic-full-content-metadata">
    <h2>Link information</h2>
    <p class="text-small text-secondary">This data is scraped automatically and may be incorrect.</p>
    <dl>
    {% for field, value in content_metadata.items() %}
      <dt>{{ field }}</dt>
      <dd>{{ value }}</dd>
    {% endfor %}
    {% if words_per_minute > 0 %}
      <dt>Reading time</dt>
      <dd>
          {% set word_count = content_metadata['Word count'].split()[0]|int %}
          {% set reading_time = (word_count / words_per_minute)|round(0, 'ceil')|int %}
          {% if reading_time >= 60 %}
            {% set hours = (reading_time // 60)|int %}
            {% set minutes = (reading_time % 60)|int %}
            ~{{ hours }} hour{{ 's' if hours > 1 }} and {{ minutes }} minute{{ 's' if minutes > 1 }}
          {% else %}
            {% if reading_time == 1 %}
              ~1 minute
            {% else %}
              ~{{ reading_time }} minutes
            {% endif %}
          {% endif %}
      </dd>
    {% endif %}
    </dl>
  </section>
{% endmacro %}





